<template>
  <v-container grid-list-lg>
    <v-layout justify-center align-center>
      <v-flex xs12 lg6>
        <v-card class="card">
          <div class="card-header">
            <h3>New post</h3>
          </div>
          <div class="card-body">
            <v-text-field label="Заголовок" v-model="title"></v-text-field>
            <v-text-field label="Текст" v-model="text"></v-text-field>
            <input type="file" @change="onFileChanged" />
          </div>

          <div class="card-body alert-danger" v-if="!!errorMessage">{{errorMessage}}</div>

          <div class="card-footer">
            <v-btn @click="onUpload">
              <span v-if="loading">Loading...</span>
              <span v-if="!loading">Добавить</span>
            </v-btn>
          </div>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>
<script>
export default {
  data() {
    return {
      selectedFile: null,
      text: "",
      title: "",
      errorMessage: "",
      loading: false
    };
  },
  asyncData({ store, redirect }) {
    if (!store.state.token) {
      redirect("/");
    }
  },
  methods: {
    onFileChanged(event) {
      this.selectedFile = event.target.files[0];
    },
    onUpload() {
      try {
        this.loading = true;

        if (this.title.trim().length <= 0) {
          throw new Error("Please enter entry title");
        }

        const text = this.text.trim();

        if (text.length < 20) {
          throw new Error(`Youre entered ${text.length} chars, min: 20`);
        }

        if (!this.selectedFile) {
          throw new Error("Please select file");
        }

        const config = {
          headers: {
            authorization: `Bearer ${this.$store.state.token}`,
            "Content-Type": "multipart/form-data"
          }
        };

        const formData = new FormData();
        formData.append("title", this.title);
        formData.append("text", this.text);
        formData.append("image", this.selectedFile, this.selectedFile.name);

        this.$axios
          .post("https://backend-for-test.wnm.digital/post", formData, config)
          .then(response => {
            if (response.data.status === 1) {
              this.$store.commit("callSnackbar", {
                color: "green",
                text: "Пост добавлен"
              });
            }
          })
          .catch(err => {
            this.$store.commit("callSnackbar", { color:"red", text:"error" });
          });

        this.$router.push("/microBlog");
      } catch (e) {
        this.errorMessage = e.message;
      } finally {
        this.loading = false;
      }
    }
  }
};
</script>
<style lang="scss" scoped>
.card-header,
.card-body,
.card-footer {
  padding: 15px;
}

.card-header {
  padding-bottom: 0;
  & > h3 {
    margin: 0;
  }
}

.card-footer {
  background: #f1f1f1;
}

.card-body.alert-danger {
  background: #dd5252;
  color: #fff;
}
</style>