<template>
  <v-card class="mx-auto" max-width="400">
    <v-img
      class="white--text"
      height="200px"
      src="https://cdn.vuetifyjs.com/images/cards/docks.jpg"
    >
      <v-card-title class="align-end fill-height">
        {{blog.title}}&nbsp;
        <small>{{blog.file}}</small>
      </v-card-title>
    </v-img>

    <v-card-text>
      <span>{{blog.createdAt}}</span>
      <br />
      <span class="text--primary">{{blog.text}}</span>
    </v-card-text>

    <v-card-actions>
      <v-dialog v-model="dialog" width="500">
        <template v-slot:activator="{ on }">
          <v-btn text color="red" v-on="on">Delete</v-btn>
        </template>

        <v-card>
          <v-card-text>Are you sure?</v-card-text>
          <v-divider></v-divider>
          <v-card-actions>
            <div class="flex-grow-1"></div>
            <v-btn color="primary" text @click="remove">Ok</v-btn>
            <v-btn color="red" text @click="dialog = false">Cancel</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-card-actions>
  </v-card>
</template>
<script>
export default {
  data() {
    return {
      loading: false,
      errorMessage: "",
      dialog: false
    };
  },
  props: {
    blog: Object,
    onRemove: Function
  },
  methods: {
    remove(evt) {
      this.dialog = false;
      this.onRemove(this.blog);
    }
  }
};
</script>