<template>
  <v-app>
    <div>
      <v-toolbar>
        <v-toolbar-title>Test task for WNM</v-toolbar-title>

        <div class="flex-grow-1"></div>

        <v-toolbar-items v-if="$vuetify.breakpoint.mdAndUp && isRender">
          <v-btn text to="/microBlog">Micro blog</v-btn>
          <v-btn text to="/newBlog">New post</v-btn>
          <v-btn text @click="exit">Logout</v-btn>
        </v-toolbar-items>

        <template v-if="$vuetify.breakpoint.smAndDown && isRender">
          <v-btn icon to="/microBlog">
            <v-icon>mdi-post-outline</v-icon>
          </v-btn>
          <v-btn icon to="/newBlog">
            <v-icon>mdi-newspaper-plus</v-icon>
          </v-btn>
          <v-btn icon @click="exit">
            <v-icon>mdi-login-variant</v-icon>
          </v-btn>
        </template>
      </v-toolbar>
    </div>
    <v-content>
      <v-snackbar
        v-model="snackbar"
        :color="this.$store.state.color"
        multi-line
        right
        top
      >
        {{$store.state.text}}
        <v-btn dark text @click="closeSnackbar">Close</v-btn>
      </v-snackbar>
      <nuxt />
    </v-content>
  </v-app>
</template>

<script>
export default {
  data() {
    return {
      isRender: false
    };
  },
  mounted() {
    this.isRender = true;
  },
  methods: {
    exit() {
      sessionStorage.removeItem("token");
      document.cookie =
        "token=" + this.$store.state.token + "; path=/; max-age=-1";
      this.$store.commit("delToken");
      this.$router.push("/");
    },
    closeSnackbar() {
      this.$store.commit("closeSnackbar",false);
    }
  },
  computed: {
    snackbar: { get() {
      return this.$store.state.snackbar
    },
    set(value){
      this.$store.commit("closeSnackbar", value);
    }
    }
  }
};
</script>
