<template>
  <v-container grid-list-lg>
    <v-layout justify-center align-center>
      <v-flex xs12 lg4>
        <v-scroll-x-transition leave-absolute>
          <v-card v-if="form==='register'" key="register">
            <v-card-title>Регистрация</v-card-title>
            <v-card-text class="padding">
              <v-text-field label="Username" v-model="data.username" :rules="required"></v-text-field>
              <v-text-field
                label="Password"
                v-model="data.password"
                type="password"
                :rules="required"
              ></v-text-field>
              <v-text-field label="Fullname" v-model="data.fullName" :rules="required"></v-text-field>
              <v-layout>
                <v-flex xs6>
                  <v-btn @click="Register">Зарегистрироваться</v-btn>
                </v-flex>
                <v-flex xs6>
                  <v-btn @click="changeForm">Войти</v-btn>
                </v-flex>
              </v-layout>
            </v-card-text>
          </v-card>
          <v-card v-else key="login">
            <v-card-title>Вход</v-card-title>
            <v-card-text class="padding">
              <v-text-field label="username" v-model="data.username" :rules="required"></v-text-field>
              <v-text-field
                label="password"
                v-model="data.password"
                type="password"
                :rules="required"
              ></v-text-field>
              <v-switch v-model="remember" label="Запомнить меня"></v-switch>
              <v-layout>
                <v-flex xs6>
                  <v-btn @click="login">Войти</v-btn>
                </v-flex>
                <v-flex xs6>
                  <v-btn @click="changeForm">Перейти к регистрации</v-btn>
                </v-flex>
              </v-layout>
            </v-card-text>
          </v-card>
        </v-scroll-x-transition>
      </v-flex>
    </v-layout>
    <v-btn @click="testcookie">test</v-btn>
  </v-container>
</template>

<script>
export default {
  data() {
    return {
      data: {
        username: "jiros",
        password: "1234Qwerdsa",
        fullName: "Vladimir Velichko"
      },
      remember: false,
      form: "register",
      required: [v => !!v || "Обязательное поле."]
    };
  },
  methods: {
    testcookie() {
      sessionStorage.setItem("test", "test");
      console.log(sessionStorage.getItem("test"));
    },
    Register() {
      this.$axios
        .post("https://backend-for-test.wnm.digital/register", {
          username: this.data.username,
          password: this.data.password,
          fullName: this.data.fullName
        })
        .then(response => {
          this.$store.commit("callSnackbar", {
            color: "green",
            text: "Поздравляю вы зарегистрировались!!!"
          });
        });
    },
    login() {
      this.$axios
        .post("https://backend-for-test.wnm.digital/login", {
          username: this.data.username,
          password: this.data.password
        })
        .then(response => {
          this.$store.commit("callSnackbar", {
            color: "green",
            text: "Добро пожаловать!!!"
          });
          this.$store.commit("addToken", response.data.token);
          sessionStorage.setItem("token", response.data.token);
          if (this.remember) {
            document.cookie =
              "token=" + response.data.token + "; path=/; max-age=604800";
            let str = document.cookie.match(/=\s*(.*)/);
            // this.$store.commit("addToken", str[1]);
          }
          this.$router.push("/microBlog");
        })
        .catch(err => {
          this.$store.commit("callSnackbar", {
            text: "Введеные вами данные не верны.",
            color: "red"
          });
        });
    },
    changeForm() {
      if (this.form === "register") {
        this.form = "login";
      } else {
        this.form = "register";
      }
    }
  },
  // asyncData({ store, redirect }) {
  //   if (store.state.token) {
  //     redirect("/microBlog");
  //   }
  // },
  created() {
    if (process.client) {
      if (sessionStorage.getItem("token")) {
        this.$store.commit("addToken", sessionStorage.getItem("token"));
        this.$router.push("/microBlog");
      } else {
        if (window.cookie) {
          let token = window.cookie;
          let str = token.match(/=\s*(.*)/);
          this.$store.commit("addToken", str[1]);
        }
      }
    }
  }
};
</script>
<style lang="scss" scoped>
.padding {
  & > div {
    padding: 8px;
  }
}
</style>