<template>
  <v-container grid-list-lg>
    <v-layout wrap>
      <v-flex xs12 lg4 v-for="(item, index) in blogs" :key="index">
        <cardBlog :blog="item" :onRemove="onRemove" />
      </v-flex>
    </v-layout>
  </v-container>
</template>
<script>
import cardBlog from "../../components/cardBlog";
export default {
  components: {
    cardBlog
  },
  data() {
    return {
      blogs: []
    };
  },
  methods: {
    async onRemove(blog) {
      try {
        const res = await this.$axios.delete(
          `https://backend-for-test.wnm.digital/post/${blog.id}`,
          { headers: { authorization: this.$store.state.token } }
        );

        if (res.data.status === 1) {
          this.blogs = this.blogs.filter(b => b.id !== blog.id);
        }
      } catch (e) {
        console.error(e);
      }
    }
  },
  async asyncData({ app, store, redirect }) {
    if (store.state.token) {
      let headers = {
        authorization: store.state.token
      };
      let [data] = await Promise.all([
        await app.$axios.get("https://backend-for-test.wnm.digital/user", {
          headers: headers
        })
      ]);
      return {
        blogs: data.data.user.posts
      };
    } else {
      redirect("/");
    }
  }
};
</script>